.error{
    color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.completed {
    text-decoration: line-through;
}

.alert{
    background: #ddd;
    border: 1px solid #000;
    padding: 1em;
}

.alert_close{
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
    cursor: pointer;
}

.alert_success{
    background: lightgreen;
    border: 1px solid green;
    padding: 1em;
}

.alert_error{
    background: crimson;
    border: 1px solid red;
    padding: 1em;
}

.fade-transition{
    transition: all .5s ease;
}

.fade-enter, .fade-leave{
    opacity: 0;
}

